* {
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.container .img-anim {
  background-image: url("headerPhotos/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.container .net {
  background-image: url("headerPhotos/net.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 0;
  left: 50%;
  bottom: 50px;
}
.container .white-bg {
  background-image: url("headerPhotos/white-part-big.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;
  top: -188px;
  right: 0;
  bottom: -8px;
  left: 0;
}
.container .white-part-small {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 60%;
}
.container .planet {
  position: absolute;
  z-index: 3;
  left: 73%;
  top: 100px;
}
.container .hero {
  background-image: url("headerPhotos/hero-big-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 3;
  top: 210px;
  left: 55%;
  bottom: 0;
  right: -150px;
}
.container .tower-left {
  background-image: url("headerPhotos/tower.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 3;
  top: 76%;
  bottom: -20px;
  right: 0;
  left: 50%;
}
.container .tower-right {
  background-image: url("headerPhotos/tower.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 3;
  top: 77%;
  bottom: 1%;
  right: 0;
  left: 92%;
}
.container .logo {
  background-image: url("headerPhotos/logo-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 3;
  top: 100px;
  left: 17%;
  right: 77%;
  bottom: 85%;
}
.container .title {
  width: 50%;
  position: absolute;
  z-index: 3;
  top: 200px;
  left: 17%;
  color: white;
  font-size: 50px;
}
.container .text {
  width: 30%;
  position: absolute;
  z-index: 3;
  top: 480px;
  left: 17%;
  color: grey;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.6;
}
.container .buttons {
  width: 50%;
  position: absolute;
  z-index: 3;
  top: 600px;
  left: 17%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
.container .buttons .btn-left {
  background-color: white;
  border-radius: 999px;
  color: rgb(30, 29, 29);
  width: 200px;
  height: 55px;
  display: table;
  margin-right: 13px;
}
.container .buttons .btn-left:hover {
  background-color: rgb(214, 208, 208);
  transition: 0.7s;
  cursor: pointer;
}
.container .buttons .btn-left .centred {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.container .buttons .btn-right {
  background-color: rgb(70, 68, 68);
  border-radius: 999px;
  color: white;
  width: 200px;
  height: 55px;
  display: table;
  margin-left: 13px;
}
.container .buttons .btn-right:hover {
  background-color: rgb(60, 59, 59);
  transition: 0.7s;
  cursor: pointer;
}
.container .buttons .btn-right .centred {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}/*# sourceMappingURL=header.css.map */