@-webkit-keyframes loading1 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  11% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}
@keyframes loading1 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  11% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes loading2 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  22% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-20%);
  }
}
@keyframes loading2 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  22% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-20%);
  }
}
@-webkit-keyframes loading3 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  33% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@keyframes loading3 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  33% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@-webkit-keyframes loading4 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  44% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@keyframes loading4 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  44% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@-webkit-keyframes loading5 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  55% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@keyframes loading5 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  55% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@-webkit-keyframes loading6 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  66% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-1%);
  }
}
@keyframes loading6 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  66% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-1%);
  }
}
@-webkit-keyframes loading7 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  77% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-1%);
  }
}
@keyframes loading7 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  77% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-1%);
  }
}
@-webkit-keyframes loading8 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  88% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-1%);
  }
}
@keyframes loading8 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  88% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-1%);
  }
}
@-webkit-keyframes loading9 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  99% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-1%);
  }
}
@keyframes loading9 {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  99% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-1%);
  }
}/*# sourceMappingURL=loading.css.map */