@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideInFromBot {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideInFromBot {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn5 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn5 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn6 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn6 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn7 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn7 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes windowOverlayCompress {
  0% {
    position: fixed;
    z-index: 20;
    top: 50px;
    bottom: 50px;
    left: 150px;
    right: 0px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    position: fixed;
    z-index: 20;
    top: 70px;
    bottom: 70px;
    left: 69%;
    right: 145px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}
@keyframes windowOverlayCompress {
  0% {
    position: fixed;
    z-index: 20;
    top: 50px;
    bottom: 50px;
    left: 150px;
    right: 0px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    position: fixed;
    z-index: 20;
    top: 70px;
    bottom: 70px;
    left: 69%;
    right: 145px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}
@-webkit-keyframes slideinFromLeftForMenuList1 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.7;
    width: 15%;
  }
}
@keyframes slideinFromLeftForMenuList1 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.7;
    width: 15%;
  }
}
@-webkit-keyframes slideinFromLeftForMenuList2 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.6;
    width: 15%;
  }
}
@keyframes slideinFromLeftForMenuList2 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.6;
    width: 15%;
  }
}
@-webkit-keyframes slideinFromLeftForMenuList3 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.5;
    width: 15%;
  }
}
@keyframes slideinFromLeftForMenuList3 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.5;
    width: 15%;
  }
}
@-webkit-keyframes slideinFromLeftForMenuList4 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.4;
    width: 15%;
  }
}
@keyframes slideinFromLeftForMenuList4 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.4;
    width: 15%;
  }
}
@-webkit-keyframes slideinFromLeftForMenuList5 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.3;
    width: 15%;
  }
}
@keyframes slideinFromLeftForMenuList5 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.3;
    width: 15%;
  }
}
@-webkit-keyframes slideinFromLeftForMenuList6 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.2;
    width: 15%;
  }
}
@keyframes slideinFromLeftForMenuList6 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 0.2;
    width: 15%;
  }
}
@-webkit-keyframes slideLeftAditional {
  0% {
    width: 150px;
  }
  100% {
    width: 70%;
  }
}
@keyframes slideLeftAditional {
  0% {
    width: 150px;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes slideLeftAditionalReverse {
  0% {
    width: 70%;
  }
  100% {
    width: 150px;
  }
}
@keyframes slideLeftAditionalReverse {
  0% {
    width: 70%;
  }
  100% {
    width: 150px;
  }
}
.mainContainer {
  position: relative;
}
.mainContainer .slideInFromLeft {
  -webkit-animation: slideInFromLeft 0.5s linear forwards;
          animation: slideInFromLeft 0.5s linear forwards;
}
.mainContainer .slideInFromTop {
  -webkit-animation: slideInFromTop 0.5s linear forwards;
          animation: slideInFromTop 0.5s linear forwards;
}
.mainContainer .slideInFromBot {
  -webkit-animation: slideInFromBot 0.5s linear forwards;
          animation: slideInFromBot 0.5s linear forwards;
}
.mainContainer #reverseLeft {
  -webkit-animation: slideInFromLeft 0.5s reverse, slideLeftAditionalReverse 0.5s linear;
          animation: slideInFromLeft 0.5s reverse, slideLeftAditionalReverse 0.5s linear;
}
.mainContainer #reverseTop {
  animation: slideInFromTop 0.5s reverse;
  height: 0px;
  transition: height 0.5s ease-out;
}
.mainContainer #reverseBot {
  animation: slideInFromBot 0.5s reverse;
  height: 0px;
  transition: height 0.5s ease-out;
}
.mainContainer #reverseRight {
  animation: slideInFromRight 0.5s reverse;
}
.mainContainer #menuClickLeft {
  transform: translateX(0%);
  -webkit-animation: slideLeftAditional 0.5s linear forwards;
          animation: slideLeftAditional 0.5s linear forwards;
}
.mainContainer #menuClickTop {
  transform: translateY(0%);
  height: 80px;
  transition: height 0.5s ease-out;
}
.mainContainer #menuClickBot {
  transform: translateY(0%);
  height: 80px;
  transition: height 0.5s ease-out;
}
.mainContainer #menuClickRight {
  -webkit-animation: slideInFromRight 0.5s linear forwards;
          animation: slideInFromRight 0.5s linear forwards;
}
.mainContainer .mainLeft {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 150px;
  height: 100%;
  background-color: #317ade;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}
.mainContainer .mainTop {
  position: fixed;
  top: 0;
  z-index: 7;
  width: 100%;
  height: 50px;
  background-color: #317ade;
  transform: translateY(-100%);
  transition: transform 0.5s ease-out;
}
.mainContainer .mainBot {
  position: fixed;
  bottom: 0;
  z-index: 7;
  width: 100%;
  height: 50px;
  background-color: #317ade;
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}
.mainContainer .mainRight {
  position: fixed;
  right: 0;
  z-index: 7;
  width: 150px;
  height: 100%;
  background-color: #317ade;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}
.mainContainer .closeButton {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 100px;
  color: white;
  font-size: 25px;
  display: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  cursor: pointer;
}
.mainContainer .afterClickMenu {
  width: 300px;
  height: 700px;
  position: fixed;
  top: 80px;
  left: 250px;
  z-index: 10;
  display: none;
}
.mainContainer .afterClickMenu img {
  max-width: 130px;
  height: auto;
}
.mainContainer .afterClickMenu .afterClickMenuList {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.mainContainer .afterClickMenu .afterClickMenuList .afterClickMenuListItem {
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  font-size: 40px;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  transition: opacity 0.5s ease-in;
  position: relative;
}
.mainContainer .afterClickMenu .afterClickMenuList .afterClickMenuListItem .hoverEfect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 85%;
  width: 1%;
  transition: width 0.5s ease-out;
  background-color: #081c39;
  opacity: 0;
}
.mainContainer .afterClickMenu .afterClickMenuList .afterClickMenuListItem-active {
  color: white;
  position: relative;
}
.mainContainer .afterClickMenu .afterClickMenuList .afterClickMenuListItem-active .hoverEfectActive {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 85%;
  background-color: rgba(8, 28, 57, 0.8);
}
.mainContainer .windowOverlay {
  position: fixed;
  z-index: 20;
  top: 50px;
  bottom: 50px;
  left: 150px;
  right: 0px;
  width: auto;
  height: auto;
  display: none;
  border-radius: 25px;
}
.mainContainer .windowOverlay .windowOverlaySocial {
  position: absolute;
  z-index: 25;
  bottom: 120px;
  left: 40px;
  display: flex;
}
.mainContainer .windowOverlay .windowOverlaySocial i {
  color: rgba(255, 255, 255, 0.7);
  margin: 5px;
  padding: 10px;
  font-size: 20px;
}
.mainContainer .windowOverlay .windowOverlayText {
  position: absolute;
  z-index: 25;
  bottom: 60px;
  left: 15%;
  width: 70%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
}/*# sourceMappingURL=mainContainer.css.map */