@-webkit-keyframes spinning {
  0% {
    top: 120px;
    left: 43%;
  }
  20% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  40% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
  60% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
  80% {
    top: 0;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 120px;
    left: 43%;
  }
}
@keyframes spinning {
  0% {
    top: 120px;
    left: 43%;
  }
  20% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  40% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
  60% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
  80% {
    top: 0;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 120px;
    left: 43%;
  }
}
@-webkit-keyframes spinningSecond {
  0% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  20% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
  40% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
  60% {
    top: 0px;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  80% {
    top: 120px;
    left: 43%;
    width: 150px;
    height: 150px;
  }
  100% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
}
@keyframes spinningSecond {
  0% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  20% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
  40% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
  60% {
    top: 0px;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  80% {
    top: 120px;
    left: 43%;
    width: 150px;
    height: 150px;
  }
  100% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
}
@-webkit-keyframes spinningThird {
  0% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
  20% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
  40% {
    top: 0px;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  60% {
    top: 120px;
    left: 43%;
    width: 150px;
    height: 150px;
  }
  80% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
}
@keyframes spinningThird {
  0% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
  20% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
  40% {
    top: 0px;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  60% {
    top: 120px;
    left: 43%;
    width: 150px;
    height: 150px;
  }
  80% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
}
@-webkit-keyframes spinningForth {
  0% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
  20% {
    top: 0px;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  40% {
    top: 120px;
    left: 43%;
    width: 150px;
    height: 150px;
  }
  60% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  80% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
}
@keyframes spinningForth {
  0% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
  20% {
    top: 0px;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  40% {
    top: 120px;
    left: 43%;
    width: 150px;
    height: 150px;
  }
  60% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  80% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
}
@-webkit-keyframes spinningFifth {
  0% {
    top: 0px;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  20% {
    top: 120px;
    left: 43%;
    width: 150px;
    height: 150px;
  }
  40% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  60% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
  80% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 0px;
    left: 30%;
    width: 100px;
    height: 100px;
  }
}
@keyframes spinningFifth {
  0% {
    top: 0px;
    left: 30%;
    width: 100px;
    height: 100px;
  }
  20% {
    top: 120px;
    left: 43%;
    width: 150px;
    height: 150px;
  }
  40% {
    top: 300px;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  60% {
    top: 240px;
    left: 15%;
    width: 100px;
    height: 100px;
  }
  80% {
    top: 80px;
    left: 12%;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 0px;
    left: 30%;
    width: 100px;
    height: 100px;
  }
}
@-webkit-keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10%);
    opacity: 0;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10%);
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

.servicesContainerFirst {
  width: 100%;
  height: 500px;
  background-color: rgb(249, 249, 251);
  position: relative;
}
.servicesContainerFirst .servicesTitle {
  position: absolute;
  top: 100px;
  left: 15%;
  font-size: 85px;
  width: 25%;
}
.servicesContainerFirst .btn {
  position: absolute;
  top: 130px;
  left: 65%;
  width: 300px;
  height: 45px;
  background-color: rgb(57, 124, 226);
  display: table;
  border-radius: 999px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.servicesContainerFirst .btn:hover {
  background-color: rgb(29, 97, 199);
  transition: 0.5s;
  cursor: pointer;
}
.servicesContainerFirst .btn .cnt {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.servicesContainerFirst .tx {
  width: 30%;
  position: absolute;
  left: 15%;
  top: 350px;
  font-size: 18px;
  color: #6b728e;
  font-weight: bold;
  line-height: 1.6;
}

.servicesContainerSecond {
  width: 100%;
  height: 500px;
  background-color: rgb(249, 249, 251);
}
.servicesContainerSecond .serviceContainer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  height: 500px;
  display: flex;
}
.servicesContainerSecond .serviceContainer .service {
  flex: 33.333%;
  margin-right: 35px;
}
.servicesContainerSecond .serviceContainer .service .blueSubTitle {
  font-size: 17px;
  font-weight: bold;
  color: rgb(21, 156, 240);
  margin-bottom: 25px;
}
.servicesContainerSecond .serviceContainer .service .blueHeading {
  margin-bottom: 50px;
  font-size: 28px;
}
.servicesContainerSecond .serviceContainer .service .servicePhotosContainerBlue {
  margin-bottom: 25px;
}
.servicesContainerSecond .serviceContainer .service .servicePhotosContainerBlue img {
  margin-right: 7px;
  width: 40px;
  height: 40px;
}
.servicesContainerSecond .serviceContainer .service .bottomImgFirst {
  height: 250px;
  width: 170px;
}
.servicesContainerSecond .serviceContainer .service .orangeSubTitle {
  font-size: 17px;
  font-weight: bold;
  color: rgb(241, 131, 14);
  margin-bottom: 25px;
}
.servicesContainerSecond .serviceContainer .service .orangeHeading {
  margin-bottom: 50px;
  font-size: 28px;
}
.servicesContainerSecond .serviceContainer .service .servicePhotosContainerOrange {
  margin-bottom: 25px;
}
.servicesContainerSecond .serviceContainer .service .servicePhotosContainerOrange img {
  margin-right: 7px;
  width: 40px;
  height: 40px;
}
.servicesContainerSecond .serviceContainer .service .bottomImgSecond {
  height: 250px;
  width: 280px;
}
.servicesContainerSecond .serviceContainer .service .greenSubTitle {
  font-size: 17px;
  font-weight: bold;
  color: rgb(8, 168, 8);
  margin-bottom: 25px;
}
.servicesContainerSecond .serviceContainer .service .greenHeading {
  margin-bottom: 50px;
  font-size: 28px;
}
.servicesContainerSecond .serviceContainer .service .servicePhotosContainerGreen {
  margin-bottom: 25px;
}
.servicesContainerSecond .serviceContainer .service .servicePhotosContainerGreen img {
  margin-right: 7px;
  width: 40px;
  height: 40px;
}
.servicesContainerSecond .serviceContainer .service .bottomImgThird {
  height: 300px;
  width: 270px;
}
.servicesContainerSecond .serviceContainer .serviceWrapperBlue {
  transition: transform 0.3s;
}
.servicesContainerSecond .serviceContainer .serviceWrapperBlue:hover .blueHeading {
  color: rgb(21, 156, 240);
}
.servicesContainerSecond .serviceContainer .serviceWrapperBlue:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.servicesContainerSecond .serviceContainer .serviceWrapperOrange {
  transition: transform 0.3s;
}
.servicesContainerSecond .serviceContainer .serviceWrapperOrange:hover .orangeHeading {
  color: rgb(241, 131, 14);
}
.servicesContainerSecond .serviceContainer .serviceWrapperOrange:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.servicesContainerSecond .serviceContainer .serviceWrapperGreen {
  transition: transform 0.3s;
}
.servicesContainerSecond .serviceContainer .serviceWrapperGreen:hover .greenHeading {
  color: rgb(8, 168, 8);
}
.servicesContainerSecond .serviceContainer .serviceWrapperGreen:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.feedbackContainerFirst {
  width: 100%;
  height: 650px;
  background-color: rgb(249, 249, 251);
}
.feedbackContainerFirst .feedbackTitle {
  margin-left: 15%;
  padding-top: 300px;
  font-size: 90px;
}
.feedbackContainerFirst .feedbackText {
  margin-left: 15%;
  margin-top: 70px;
  width: 25%;
  font-size: 17px;
  font-weight: bold;
  color: #6b728e;
  line-height: 1.3;
}

.feedbackContainerSecond {
  width: 100%;
  height: 500px;
  background-color: rgb(249, 249, 251);
  display: flex;
}
.feedbackContainerSecond .feedbackPhotosContainer {
  list-style-type: none;
  margin-left: 10%;
  position: relative;
  flex: 50%;
}
.feedbackContainerSecond .feedbackPhotosContainer .tab-top {
  position: absolute;
  top: 0;
  left: 30%;
  width: 100px;
  height: 100px;
  -webkit-animation: spinningFifth 15s infinite;
          animation: spinningFifth 15s infinite;
}
.feedbackContainerSecond .feedbackPhotosContainer .tab-top img {
  width: 100%;
  height: 100%;
}
.feedbackContainerSecond .feedbackPhotosContainer .tab-left {
  position: absolute;
  top: 80px;
  left: 12%;
  width: 100px;
  height: 100px;
  -webkit-animation: spinningForth 15s infinite;
          animation: spinningForth 15s infinite;
}
.feedbackContainerSecond .feedbackPhotosContainer .tab-left img {
  width: 100%;
  height: 100%;
}
.feedbackContainerSecond .feedbackPhotosContainer .tab-left2 {
  position: absolute;
  top: 240px;
  left: 15%;
  width: 100px;
  height: 100px;
  -webkit-animation: spinningThird 15s infinite;
          animation: spinningThird 15s infinite;
}
.feedbackContainerSecond .feedbackPhotosContainer .tab-left2 img {
  width: 100%;
  height: 100%;
}
.feedbackContainerSecond .feedbackPhotosContainer .tab-bot {
  position: absolute;
  top: 300px;
  left: 35%;
  width: 100px;
  height: 100px;
  -webkit-animation: spinningSecond 15s infinite;
          animation: spinningSecond 15s infinite;
}
.feedbackContainerSecond .feedbackPhotosContainer .tab-bot img {
  width: 100%;
  height: 100%;
}
.feedbackContainerSecond .feedbackPhotosContainer .active {
  position: absolute;
  top: 120px;
  left: 43%;
  width: 150px;
  height: 150px;
  -webkit-animation: spinning 15s infinite;
          animation: spinning 15s infinite;
}
.feedbackContainerSecond .feedbackPhotosContainer .active img {
  width: 100%;
  height: 100%;
}
.feedbackContainerSecond .feedbackContent {
  flex: 50%;
  position: relative;
}
.feedbackContainerSecond .feedbackContent .timeline {
  position: absolute;
  left: -30%;
  top: 75px;
  height: 250px;
  padding-top: 32px;
  width: 3px;
  background-color: #dae0fe;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedbackContainerSecond .feedbackContent .timeline .timeline-dot {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #f9fafe;
  margin-bottom: 32px;
  border: 2px solid #dae0fe;
}
.feedbackContainerSecond .feedbackContent .quoteOpen {
  position: absolute;
  left: -30%;
  top: -80px;
}
.feedbackContainerSecond .feedbackContent .quoteClose {
  position: absolute;
  left: 40%;
  bottom: 80px;
}
.feedbackContainerSecond .feedbackContent .feedbackMessage {
  position: absolute;
  left: -25%;
  top: 60px;
  -webkit-animation: slideDown 3s infinite;
          animation: slideDown 3s infinite;
}
.feedbackContainerSecond .feedbackContent .feedbackMessage .message {
  width: 60%;
  color: rgb(57, 55, 55);
  font-weight: bold;
  font-size: 21px;
  z-index: 1;
  line-height: 1.4;
}
.feedbackContainerSecond .feedbackContent .feedbackMessage .name {
  margin-top: 20px;
  font-size: 24px;
  color: black;
}
.feedbackContainerSecond .feedbackContent .feedbackMessage .position {
  font-weight: bold;
  color: #6b728e;
}

@media only screen and (max-width: 1285px) {
  .servicesContainerFirst .servicesTitle {
    font-size: 70px;
    width: 40%;
    height: auto;
  }
  .servicesContainerFirst .tx {
    width: 40%;
    top: 280px;
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .servicesContainerFirst {
    position: static;
    display: flex;
    flex-direction: column;
  }
  .servicesContainerFirst .servicesTitle {
    position: static;
    width: 90%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: auto;
  }
  .servicesContainerFirst .btn {
    position: static;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .servicesContainerFirst .tx {
    position: static;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .servicesContainerSecond {
    height: auto;
  }
  .servicesContainerSecond .serviceContainer {
    height: auto;
    flex-direction: column;
  }
  .servicesContainerSecond .service {
    pointer-events: none;
  }
}
@media only screen and (max-width: 460px) {
  .servicesContainerSecond {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 1350px) {
  .feedbackContainerFirst {
    height: auto;
  }
  .feedbackContainerFirst .feedbackTitle {
    font-size: 60px;
    margin-left: 2%;
  }
  .feedbackContainerFirst .feedbackText {
    margin-left: 2%;
    width: 60%;
    margin-top: 30px;
  }
  .feedbackContainerSecond {
    flex-direction: column;
    height: auto;
  }
  .feedbackContainerSecond .feedbackPhotosContainer {
    margin-left: 2%;
    margin-top: 50px;
    padding-left: 0;
    display: flex;
    position: static;
  }
  .feedbackContainerSecond .feedbackPhotosContainer .tab-top {
    position: static;
    -webkit-animation: none;
            animation: none;
    margin: 20px;
  }
  .feedbackContainerSecond .feedbackPhotosContainer .tab-top img {
    width: 100px;
    height: 100px;
  }
  .feedbackContainerSecond .feedbackPhotosContainer .tab-left {
    position: static;
    -webkit-animation: none;
            animation: none;
    margin: 20px;
  }
  .feedbackContainerSecond .feedbackPhotosContainer .tab-left img {
    width: 100px;
    height: 100px;
  }
  .feedbackContainerSecond .feedbackPhotosContainer .tab-left2 {
    position: static;
    -webkit-animation: none;
            animation: none;
    margin: 20px;
  }
  .feedbackContainerSecond .feedbackPhotosContainer .tab-left2 img {
    width: 100px;
    height: 100px;
  }
  .feedbackContainerSecond .feedbackPhotosContainer .tab-bot {
    position: static;
    -webkit-animation: none;
            animation: none;
    margin: 20px;
  }
  .feedbackContainerSecond .feedbackPhotosContainer .tab-bot img {
    width: 100px;
    height: 100px;
  }
  .feedbackContainerSecond .feedbackPhotosContainer .active {
    position: static;
    -webkit-animation: none;
            animation: none;
    width: 100px;
    height: 100px;
    margin: 20px;
    order: -2;
  }
  .feedbackContainerSecond .feedbackPhotosContainer .active img {
    width: 100px;
    height: 100px;
  }
  .feedbackContainerSecond .feedbackContent {
    position: static;
    height: auto;
  }
  .feedbackContainerSecond .feedbackContent .timeline {
    display: none;
  }
  .feedbackContainerSecond .feedbackContent .timeline .timeline-dot {
    display: none;
  }
  .feedbackContainerSecond .feedbackContent .quoteOpen {
    display: none;
  }
  .feedbackContainerSecond .feedbackContent .quoteClose {
    display: none;
  }
  .feedbackContainerSecond .feedbackContent .feedbackMessage {
    position: static;
    margin-left: 2%;
    height: auto;
  }
  .feedbackContainerSecond .feedbackContent .feedbackMessage .message {
    width: 100%;
    font-size: 18px;
  }
}/*# sourceMappingURL=servicesAndFeedback.css.map */